{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <div class="hero-unit">
        <h1>Bien le bonjour !</h1>
        <p>Ce logiciel va t'aider dans le suivi de ton budget, la facturation, la TVA, voir même ta comptabilité. Courage !</p>
    </div>
{% endblock %}