{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <div class="hero-unit">
        <h1>Bien le bonjour !</h1>
        <p>Ce logiciel va t'aider dans le suivi de ton budget, la facturation, la TVA, voir même ta comptabilité. Courage !</p>
    </div>
    <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id velit massa. Fusce bibendum lorem vel lacus tristique eu volutpat nisl venenatis. Suspendisse bibendum mollis mi, et luctus magna viverra at. In et quam et ligula bibendum sodales. Suspendisse potenti. Donec sagittis rutrum nulla, eget tincidunt velit commodo non.
        <br />
        Integer ornare suscipit odio sed tincidunt. Vivamus a scelerisque mauris. Praesent tincidunt cursus orci, eget aliquam nisl viverra vitae. Etiam laoreet iaculis tellus, ut suscipit tellus mollis consectetur. Duis non tellus ac nibh dapibus gravida at gravida nisl. Curabitur in enim ut mi consectetur viverra quis at ligula. Vivamus nec turpis dolor, eget pharetra urna.
        <br />
        Etiam mattis, lectus a viverra malesuada, nulla elit varius justo, ac ornare ipsum sapien nec odio. Proin commodo sem et ante sagittis mollis.
    </div>
{% endblock %}