{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1 class="margin-bottom-20">Liste des factures</h1>

    {{ grid_search(grid) }}

    {{ grid(grid, 'TrezLogicielTrezBundle:Utils:datagrid.html.twig') }}
{% endblock %}
