{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Ajouter une m&eacute;thode de paiement</h1>

    {% include "TrezLogicielTrezBundle:MethodePaiement:_form.html.twig" with {'route': 'methodePaiement_add'} %}
{%  endblock %}
