{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Ajouter un tiers</h1>

    {% include "TrezLogicielTrezBundle:Tiers:_form.html.twig" with {'route': 'tiers_add'} %}
{%  endblock %}