{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../vendor/ajaxorg/ace/src-min/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}
    <h1>Ajouter un template de facture</h1>

    {% include "TrezLogicielTrezBundle:TemplateFacture:_form.html.twig" with {'route': 'templateFacture_add'} %}

{%  endblock %}