{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('../vendor/ajaxorg/ace/src-min/ace.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body %}
    <h1>Editer le template de facture de {{ TemplateFacture.name }}</h1>

    {% include "TrezLogicielTrezBundle:TemplateFacture:_form.html.twig" with {'route': 'templateFacture_edit', 'route_options': {'nom': TemplateFacture.name, 'id': TemplateFacture.id}, 'id': TemplateFacture.id} %}

{%  endblock %}
