{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>&Eacute;diter le template de facture {{ TemplateFacture.name }}</h1>
    <dl>Voici la liste des variables disponibles:</dl>
    <dd></dd>


    {% include "TrezLogicielTrezBundle:TemplateFacture:_form.html.twig" with {'route': 'templateFacture_edit', 'route_options': {'nom': TemplateFacture.name, 'id': TemplateFacture.id}, 'id': TemplateFacture.id} %}
{%  endblock %}
