{%  extends 'TrezLogicielTrezBundle::layout.html.twig' %}

{% block body %}
    <h1>Ajouter une classe de TVA</h1>

    {% include "TrezLogicielTrezBundle:ClasseTva:_form.html.twig" with {'route': 'classeTva_add'} %}
{%  endblock %}
