{% extends 'TrezLogicielTrezBundle:Security:login_layout.html.twig' %}

{% block form %}
    <form class="margin-h-20 clearfix" action="{{ path('check_credentials') }}" method="post">
        <input type="text" id="username" name="_username" placeholder="Nom d'utilisateur" class="input-xlarge" value="{{ last_username }}" />
        <input type="password" id="password" name="_password" placeholder="Mot de passe" class="input-xlarge" />
        {#<label class="checkbox">
            <input type="checkbox"> Remember me
        </label>#}
        <button type="submit" class="btn btn-primary pull-right">Se connecter</button>
    </form>
    <p class="muted">
        Powered by <a href="https://github.com/romaricdrigon/LogicielTrez-Symfony">LogicielTrez</a>
    </p>
{% endblock %}

{% block script %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("#username:first").focus();
        });
    </script>
{% endblock %}